<div class="container">
  <mat-card>
    <mat-card-content>
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
      <img [hidden]="isLoading" src="assets/img/laica.jpg" alt="Laica" width="30%" />
      <div [hidden]="isLoading" class="title">
        <mat-card-title translate>Hello human!</mat-card-title>
      </div>
      <mat-card-subtitle [hidden]="isLoading">
        <p>I am Laikapp, an UI for Swapi. Please navigate me.</p>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
