<div class="container">
  <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
</div>
<mat-card *ngIf="!isLoading">
    <h1>
      <mat-card-title *ngIf="planet && planet.name" translate>{{ planet.name }}</mat-card-title>
    </h1>
    <p>
      <span class="span-gray">
        Rotation period: 
      </span>
      <span>
        {{ planet.rotation_period }}
      </span>
    </p>
    <p>
      <span class="span-gray">
        Orbital period: 
      </span>
      <span>
        {{ planet.orbital_period }}
      </span>
    </p>
    <p>
      <span class="span-gray">
        Diameter: 
      </span>
      <span>
        {{ planet.diameter }}
      </span>
    </p>
    <p>
      <span class="span-gray">
        Climate: 
      </span>
      <span>
        {{ planet.climate }}
      </span>
    </p>
    <p>
      <span class="span-gray">
        Gravity: 
      </span>
      <span>
        {{ planet.gravity }}
      </span>
    </p>
    <p>
      <span class="span-gray">
        Terrain: 
      </span>
      <span>
        {{ planet.terrain }}
      </span>
    </p>
    <p>
      <span class="span-gray">
        Surface water: 
      </span>
      <span>
        {{ planet.surface_water }}
      </span>
    </p>
    <p>
      <span class="span-gray">
        Population: 
      </span>
      <span>
        {{ planet.population }}
      </span>
    </p>
    <p>
        <span class="span-gray">
          Residents: 
        </span>
        <span>
          {{ planet.residents.length }}
        </span>
      </p>
    <mat-card-content
    *ngIf="planet && planet.residents && planet.residents != 0 && rows.length == planet.residents.length">
      <ngx-datatable
      class="material"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'">
      </ngx-datatable>
    </mat-card-content>
  </mat-card>
